@model TaskViewModel

@{
    string color;
    if (Model.Status.ToString() == "NotDone")
    {
        color = "Red";
    }
    else if (Model.Status.ToString() == "InProgress")
    {
        color = "Yellow";
    }
    else
    {
        color = "Green";
    }

}

<tr>
    <td scope="row">@Model.Title</td>
    <td>@Model.Description</td>
    <td>@Html.DisplayFor(x => x.Priority)</td>
    <td style="background-color:@color">@Html.DisplayFor(x => x.Status)</td>
    <td>@Model.TypeOfTask</td>
    <td>
        <ul>
            @foreach (var item in Model.SubTask)
            {
                <li>@item.Title - @item.Description - @item.Status</li>
            }
        </ul>
    </td>
    <td>
        <button class="btn btn-danger">@Html.ActionLink("Change Details", "Details", "Home", new { id = Model.Id })</button>
        @if (Model.Status.ToString() != "Done")
        {
            <button class="btn btn-danger">@Html.ActionLink("Add SubTask", "AddSubTask", "Home", new { id = Model.Id })</button>
        }
    </td>
</tr>
