@model TaskViewModel

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm())
{
    <div class="form-group row">
        <div class="col-md-4">
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            @Html.LabelFor(x => x.Description)
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            @Html.LabelFor(x => x.Priority)
            @Html.DropDownListFor(x => x.Priority, Html.GetEnumSelectList(Model.Priority.GetType()), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            @Html.LabelFor(x => x.Status)
            @Html.DropDownListFor(x => x.Status, Html.GetEnumSelectList(Model.Status.GetType()), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            @Html.LabelFor(x => x.TypeOfTask)
            @Html.DropDownListFor(x => x.TypeOfTask, Html.GetEnumSelectList(Model.TypeOfTask.GetType()), new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-danger">Save Changes</button>
}